langchain
langchain-community
langchain-groq
langchain-text-splitters
langchain-huggingface
chromadb
sentence-transformers
huggingface-hub
pypdf
streamlit
python-dotenv
groq
reportlab
streamlit-mic-recorder